html,body{
    height: 100vh;
}

.contain{
    background: conic-gradient(from 45deg, var(--color1),
    var(--color4));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

} 
main .part1{
    margin:48px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row ;
    flex-wrap: wrap;
}
.part1 .welcoming{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex:0 0 45%;
    font-size: var(--font-size2);
}
a[href="chat.html"]{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border: 1.5px solid #fff;
    border-radius:16px 4px 4px 4px;
    position: relative;
    overflow: hidden;
    transition-duration: .25s ;
    font-size: 23px;
    margin-bottom: 10px;
}
/* a[href="chat.html"]::after{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 200%;
    background-color: #003060;
    z-index: -1;
    transition: .20s all linear;
    transform: scalex(0);
}
a[href="chat.html"]:hover::after{
    transform: scaleX(1);
    
} */
a[href="chat.html"]:hover{
    color: #fff;
    font-size: 23px;
    padding: 10px;
    background: var(--color4);
    border-color: transparent;
}
.part1 img{
    display: inline-block;
    flex:0 0 25%;
    filter: invert(100%);
    align-self:center ;
    
}

@media (max-width: 850px) {
    main .part1{
        margin: 0 16px;
    }
    .part1{
        height: 50vh;
        flex-direction: column;
        align-items: center;
    }
    .part1 .welcoming{
        flex: 0 0 100%;
        font-size: 1.2em;
    }
    .part1 img{
        display: none;
    }
}